<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.layoutt"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/whack_notepad"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.example.layoutt.Notepad"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="note.addNote"
            android:label="@string/noto" >
        </activity>
        <activity
            android:name="filters.UserTakeActivity5"
            android:label="@string/app_name"
            android:multiprocess="true"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.layoutt.Delete_Activity"
            android:label="@string/noto" >
        </activity>
        <activity
            android:name="com.example.layoutt.Search_ByTag_Activity"
            android:label="@string/noto" >
        </activity>
        <activity
            android:name="com.example.layoutt.Search_Activity"
            android:label="@string/noto" >
        </activity>
        <activity
            android:name="com.example.layoutt.CameraPhotoCapture"
            android:label="@string/noto" >
        </activity>
        <activity
            android:name="note.editNote"
            android:label="@string/noto" >
        </activity>
        <activity
            android:name="note.NoteEditer"
            android:label="@string/noto" >
        </activity>
        <activity
            android:name="com.example.layoutt.menu"
            android:label="@string/menu" >
        </activity>
        <activity
            android:name="note.ViewNote"
            android:label="@string/noto" >
        </activity>

        <receiver
            android:name="gps.NetworkProvider"
            android:label="NetworlProvider" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.example.layoutt.Login"
            android:label="@string/title_activity_login"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.layoutt.Signup"
            android:label="@string/title_activity_signup"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>